//colori//
$bcg-black: #101010;
$bcg-jumbotron: grey;
$bcg-nav-bottom: #e6e6e6;
$font-white: white;

//altezze//
$headerHeight: 97px;
$jumbHeight: 460px;
$nav-bottomHeight: 100px;
$section-oneHeight: 1000px;
